:root {
    --color-white:    #ffffff;    /* Base background */
    --color-dark:     #000014;    /* Primary text color */
    --color-navy:     #000080;    /* Header/Footer background */
    --color-accent:   #0080ff;    /* Accent color for buttons/links */
    --color-light:    #ebebff;    /* Light background for sections, cards */
    --color-grey:     #767689;    /* Secondary text color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto Slab', Arial, sans-serif;
    background: linear-gradient(to right, var(--color-grey), var(--color-light), var(--color-grey));
    color: var(--color-gre);
    line-height: 1.6;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, sans-serif;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.25em;}
h6 {font-size: 1em;}

.header__container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.header__image {
    height: 80px;
    margin: auto;
    position: relative;
    top: 4px;
}

.menu__list {
    list-style: none;
}

.menu__item {
    margin: 0 2em;
}

.menu__link {
    color: var(--color-navy);
    text-decoration: none;
}

.menu__link:hover {
    color: var(--color-accent);
}

.hero {
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.section {
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em 0 0;
    padding: 1em 10%;
}

.card {
    background-color: var(--color-light);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--color-navy);
    margin-top: 1em;
    padding: 1em;
}

.services__items, .testimonials__items {
    display: flex;
    margin: auto;
    overflow: auto;
}

.services__item, .testimonials__item {
    flex: 1;
    margin: 1em;
}

.footer {
    color: var(--color-navy);
    padding: 1em;
}

.footer__link {
    color: var(--color-accent);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    margin-bottom: 10px;
}

.footer__social-link {
    margin: 0 1em;
    color: var(--color-navy);
    text-decoration: none;
}

.footer__social-link:hover {
    color: var(--color-accent);
}

.button {
    background-color: var(--color-accent);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    margin-top: 1em;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--color-navy);
}