:root {
    --color-white:    #ffffff;    /* Base background */
    --color-dark:     #000014;    /* Primary text color */
    --color-navy:     #000080;    /* Header/Footer background */
    --color-accent:   #0080ff;    /* Accent color for buttons/links */
    --color-light:    #ebebff;    /* Light background for sections, cards */
    --color-grey:     #767689;    /* Secondary text color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto Slab', Arial, sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.6;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--color-navy);
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}

.header__container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.header__image {
    height: 5rem;
    margin: auto;
    position: relative;
    top: .25rem;
}

.menu__list {
    list-style: none;
}

.menu__item {
    margin: 0 2rem;
}

.menu__link {
    color: var(--color-navy);
    text-decoration: none;
}

.menu__link:hover {
    color: var(--color-accent);
}

.hero {
    align-items: center;
    background-image: url(images/hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    min-height: 25rem;
}

.section {
    background-color: var(--color-white);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    margin: 1rem 0 0;
    padding: 1rem 10%;
}

.card {
    background-color: var(--color-white);
    border-radius: .5rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 1rem;
}

.services__items, .team__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item, .team__item {
    flex: 1;
    margin: 1rem;
}

.services__item-image {
    border-radius: .25rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    height: auto;
    margin: auto;
    width: 20rem;
}

.footer {
    color: var(--color-navy);
    padding: 1rem;
}

.footer__link {
    color: var(--color-accent);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    margin-bottom: .5rem;
}

.footer__social-link {
    margin: 0 1rem;
    color: var(--color-navy);
    font-size: 24px;
    text-decoration: none;
}

.footer__social-link:hover {
    color: var(--color-accent);
}

.button {
    background-color: var(--color-accent);
    border-radius: .25rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 1.25rem;
    text-decoration: none;
}

.button:hover {
    background-color: var(--color-navy);
}